.artPage:nth-of-type(1){
    background: url('../art/1/cover.jpg'),url('../art/1/cover.png');
    background-size: cover;
}
.artPage:nth-of-type(2){
    background: url('../art/2/cover.jpg'),url('../art/2/cover.png');
    background-size: cover;
}
.artPage:nth-of-type(3){
    background: url('../art/3/cover.jpg'),url('../art/3/cover.png');
}
.artPage:nth-of-type(4){
    background: url('../art/4/cover.jpg'),url('../art/4/cover.png');
}
.artPage:nth-of-type(5){
    background: url('../art/5/cover.jpg'),url('../art/5/cover.png');
}
.artPage:nth-of-type(6){
    background: url('../art/6/cover.jpg'),url('../art/6/cover.png');
}
.artPage:nth-of-type(7){
    background: url('../art/7/cover.jpg'),url('../art/7/cover.png');
}
.artPage:nth-of-type(8){
    background: url('../art/8/cover.jpg'),url('../art/8/cover.png');
}
.artPage:nth-of-type(9){
    background: url('../art/9/cover.jpg'),url('../art/9/cover.png');
}
.artPage:nth-of-type(10){
    background: url('../art/10/cover.jpg'),url('../art/10/cover.png');
} 

